.user-input-wrapper {
    display: flex;
}

#numberOfElements {
    width: 250px;
}

.generated-random-number-array-wrapper {
    margin: 20px;
}

.generated-random-number-array-wrapper > div {
    display: flex;
}

.sort-button-wrapper {
    margin: 10px;
    width: 70vh;
    justify-content: space-evenly;
}

#doSortButton {
    display: none;
    margin: 10px;
    padding: 4px 4px;
}

.sort-type-wrapper {
    display: flex;
    margin: 5px;
    justify-content: center;
}

#sortAlgorithmText {
    display: none;
    margin: 5px;
    align-items: center;
}

#sortAlgorithmDropDown {
    display: none;
    padding: 4px 4px;
    margin: 5px;
}

.big-o-text-wrapper {
    display: none;
}

#chart {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(100, 1fr);
    grid-template-rows: repeat(100, 1fr);
    column-gap: 5px;
    height: 70vh;
    width: 70vh;
}

[class*="bar"] {
    grid-row-start: 1;
    grid-row-end: 101;
    border-radius: 8px 8px 0px 0px;
}

[class*="bar"]:nth-child(odd) {
    background-color: #ff4136;
}

[class*="bar"]:nth-child(even) {
    background-color: #0074d9;
}

.element-on-chart {
    display: flex;
    justify-content: center;
}